.tour-list{
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tour-item{
    width: 28%;
    margin: 2rem 1rem;
    border-radius: 1rem;
    background-color: white;
    position: relative;
}
.tour-item:hover{
    background-color: snow;
    box-shadow: 0 0 1px 1px gray;
}
.tour-item-img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.tour-item-label{
    position: absolute;
    left: 10px;
    top: 190px;
    background-color: rgb(2,2,50);
    color: white;
    padding: 6px 7px;
    border-radius: 7px;
}
.tour-item-body{
    padding: 1rem 0.7rem;
    color: var(--primary-text-color);
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.tour-item-title{
    font-weight: 700;
    font-size: 1.3rem;
}

.tour-item-duration{
    margin: 1rem 0;
    font-weight: 600;
}

.tour-item-price{
    margin-top: 25px;
    margin-bottom: 15px;
    width: 100%;
    color: gray;
}
.tour-item-price strong{
    color: red;
    font-size: 21px;
    font-weight: bold;
}
.tour-item-link{
    font-size: 17px;
    cursor: pointer;
    color: white;
    background-color: blue;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 7px;
    border: none;
}